@import '../../sass/variables.scss';
.projects {
  padding-bottom: 20em;
}
.projects--header {
  text-align: center;
  padding-bottom: 6rem;
  color: $light-purple;
  font-size: 3rem;
}
.project--single {
  display: flex;
  justify-content: center;
  width: min(100% - 2em, 70em);
}
.project--img--div {
  width: min(100%, 700px);
  text-align: center;
}
.project--img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.project--name {
  color: $dark-grey;
  font-size: 2rem;
}
.project--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project--description {
  max-width: 500px;
  color: $light-grey;
}
.project--tech {
  margin-top: 2rem;
}
.project--tech--header {
  margin-bottom: 1rem;
}
.project--icon {
  font-size: 3rem;
  color: $light-purple;
}
.project--icon--box .project--icon:not(:last-child) {
  margin-right: 1.5rem;
}
.project--links {
  // margin-top: 2rem;
  display: flex;
  align-items: baseline;
}
.project--github {
  text-decoration: none;
  font-size: 3rem;
  color: $dark-grey;
  margin-top: 3rem;
  transition: color 0.3s ease;
  width: 50px;
}
.project--site {
  text-decoration: none;
  font-size: 2.75rem;
  color: $dark-grey;
  margin-top: 3rem;
  transition: color 0.3s ease;
  padding-left: 1rem;
}
.project--site:hover {
  color: $light-purple;
}
.project--github:hover {
  color: $light-purple;
}

.hacker--news {
  padding-bottom: 5rem;
}
.spotify {
  padding-bottom: 5rem;
}

@media (max-width: 991px) {
  .projects {
    padding-bottom: 5rem;
  }
  .projects--header {
    padding-bottom: 3rem;
  }
  .project--img {
    max-width: 90%;
  }
  .project--links {
    margin-top: 0;
  }
  .project--github {
    margin-top: 0.5rem;
  }
  .project--site {
    margin-top: 0;
  }
  .project--info {
    padding-top: 1rem;
    max-width: 90%;
    margin: 0 auto;
  }
  .hacker--news {
    padding-bottom: 3rem;
  }
  .spotify {
    padding-bottom: 3rem;
  }
}
@media (max-width: 600px) {
  .project--img {
    max-width: 97%;
  }
  .project--info {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
