@import '../../sass/variables.scss';

.calendly--inner {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: min(100% - 2em, 1000px) !important;
  padding-bottom: 15rem;
}
.calendly--title {
  font-size: 2.5rem;
  color: $light-grey;
}
.calendly--title--box {
  justify-content: center;
  display: flex;
  padding-bottom: 1rem;
}
.calendly--title--box span {
  color: $light-purple;
  font-weight: 700;
}

.calendly--button {
  background-color: $light-purple !important;
  border-radius: 0.5rem !important;
  padding: 0.7rem 1.7rem !important;
  font-size: 1.3rem !important;
  border: none !important;
}
.calendly--button:hover {
  background: $dark-purple !important;
}
.calendly--icon {
  margin-left: 10px;
}
