@import '../../sass/variables.scss';
.skills {
  padding-bottom: 10rem;
}
.skills--inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 2rem;
}

.skills--title {
  color: $light-grey;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.icon--box {
  text-align: center;
}
.skill--icon {
  font-size: 5.5rem;
  color: $light-purple !important;
  margin: 1.3rem 0 !important;
}
.icon--name {
  margin-top: 1rem;
  text-align: center;
  color: $light-grey;
  font-size: 1.25rem;
}
