@import '../../sass/variables.scss';

.contact {
  padding-bottom: 10rem;
  // background: $light-grey;
}
.contact--inner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.form--bg {
  margin-top: 4rem;
  width: 800px;
  height: 500px;

  // background: #f5f4f4;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.contact--header {
  text-align: center;
  padding-bottom: 4rem;
  color: $light-purple;
  font-size: 3rem;
  margin-top: 1rem;
}
.form--email--name {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
}
.form--email--name input {
  width: 40%;
  border-bottom: 3px solid $light-purple;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  padding: 4px 0;
}
.form--message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subject--input {
  background: none;
  border-bottom: 3px solid $light-purple;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 3rem;
  width: 90%;
}
.message--input {
  background: none;
  border-bottom: 3px solid $light-purple;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
}
.submit--btn--box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  padding-top: 4rem;
}
.submit--btn {
  background-color: $light-purple !important;
  border-radius: 0.5rem !important;
  padding: 0.7rem 1.7rem !important;
  font-size: 1.3rem !important;
  border: none !important;
}
.submit--btn:hover {
  background: $dark-purple !important;
}
.submit--btn--icon {
  margin-left: 10px;
}
